<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SentrySec</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<div class="hero">

    <div class="logo">
        🛡
        <span>SentrySec</span>
    </div>

    <h1>Mini Security Information<br>and Event Management</h1>

    <p>
        Analyse Linux SSH authentication logs to detect brute-force
        attacks and suspicious login behaviour.
    </p>

    <form action="/analyze"
          method="POST"
          enctype="multipart/form-data">

        <label class="upload-box">

            📄 Choose authentication log

            <input
                type="file"
                name="logfile"
                required
            >

        </label>

        <div class="button-group">

            <button type="submit" class="primary-btn">
                Analyse Security Logs →
            </button>

            <a href="/history" class="secondary-btn">
                📜 Scan History
            </a>

        </div>

    </form>

</div>


</body>
</html>