<!DOCTYPE html>
<html>

<head>

<title>SentrySec</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>🛡 SentrySec</h1>

<p class="subtitle">

Mini SIEM for Linux SSH Authentication Logs

<br><br>

Upload an authentication log and detect brute-force attacks
and possible account compromise.

</p>

<form action="/analyze"
method="POST"
enctype="multipart/form-data">

<input type="file"
name="logfile"
required>

<button>

Analyse Log

</button>

</form>

</div>

</body>

</html>